<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
</head>
<body>

    {% include 'header.html' %}
    <h1>Добро пожаловать в сайт цитат!</h1>
    <h4><br>Цитаты Тайлера Дердена из фильма "Бойцовский клуб"</h4>
    <h2>1</h2>
    <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/27378-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>— Знаете, для чего в самолётах нужны кислородные маски?
        <br>— Чтобы дышать.
        <br>— Кислород опьяняет. В катастрофических ситуациях люди впадают в панику и бешено глотают воздух, и вдруг эйфория, покой, и ты смиряешься с судьбой. <br>Вот рисунок. Аварийное приводнение — 600 миль в час. А на лицах спокойствие, как у коров в Индии.
        <br>— Это интересная теория.</p>

        <h2>2</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/22174-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>— Тайлер, вы знаете, вы самый интересный из всех моих одноразовых друзей. В самолетах все одноразовое, даже люди.
        <br>— О, ясно. Очень умно.
        <br>— Спасибо.
        <br>— И вам это нравится?
        <br>— Что?
        <br>— Быть умником.
        <br>— Вполне.</p>

        <h2>3</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/9803-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>Лишь утратив всё до конца, мы обретаем свободу.</p>

        <h2>4</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/25973-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>Кто мы такие? Мы просто потребители, одержимые внешней атрибутикой преуспевания. Война, голод, насилие — всё это не волнует. <br>А волнует меня: знаменитости и скандалы, телевизор, где 500 каналов и чье имя на бирке моих трусов.</p>

        <h2>5</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/9805-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>Имея много мыла, можно взорвать всё, что угодно.</p>

        <h2>6</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/22174-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>— Обещай мне.
        <br>— Ладно.
        <br>— Обещаешь?
        <br>— Да, обещаю.
        <br>— Обещаешь?
        <br>— Я же сказал: «Обещаю, что...»
        <br>— Ты трижды обещал.</p>

        <h2>7</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/223676-boicovskii-klub-fight-club_0.jpg" alt="здесь фотография тегов"></a>
    <p>В бойцовский клуб вступают сильнейшие и умнейшие люди. С потенциалом, который растрачивается впустую. Целое поколение работников бензоколонок, 
        <br>официантов, рабов в белых воротничках. Реклама заставляет нас покупать тачки и тряпки. Мы вкалываем на ненавистных работах, чтобы купить ненужное нам дерьмо. 
        <br>Мы — пасынки истории. Ни цели, ни места. На нашу долю не выпало ни Великой войны, ни Великой депрессии. Мы сами объявим войну. 
        <br>Наша Великая депрессия — наше прозябание. Нам внушали по телевизору, что однажды мы станем миллионерами, кино — и рок-звездами, но нам это не светит. 
        <br>Постепенно до нас это доходит и бесит, страшно бесит.</p>

        <h2>8</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/548881-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>— Вы знали, что если смешать бензин с апельcиновым соком, можно изготовить напалм?
        <br>— Нет, я не знал. А это правда?
        <br>— Правда. Взрывчатые вещества можно делать из подручных материалов.
        <br>— Неужели?
        <br>— Если захотите.</p>

        <h2>9</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/27378-boicovskii-klub-fight-club.jpg" alt="здесь фотография тегов"></a>
    <p>В том чемодане была вся моя одежда. Рубашки от Кельвина Кляйна, ботинки от Дана Керен, галстуки Армани. Ну ладно</p>

        <h2>10</h2>
        <a href=""><img style="height: 200px;" src="https://citaty.info/files/quote-pictures/129248-boicovskii-klub-fight-club_0.jpg" alt="здесь фотография тегов"></a>
    <p>Первое правило Бойцовского клуба: никому не рассказывать о Бойцовском клубе.
    <br>Второе правило Бойцовского клуба: никому не рассказывать о Бойцовском клубе.
    <br>Третье правило Бойцовского клуба: боец крикнул — «хватит», выдохся, отрубился — бой окончен.
    <br>Четвертое: дерутся только двое.
    <br>Пятое: по поединку за раз.
    <br>Шестое правило: снять обувь, рубашки.
    <br>Седьмое правило Бойцовского клуба: поединок во времени не ограничен.
    <br>Восьмое и последнее правило: если ты в клубе впервые — принимаешь бой.</p>
</body>
</html>